.body {
  border: 3px solid #dadde1;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  font-family: arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.94);
}
.city {
  color: #6c6d6e;
  margin-top: 20px;
}
h2 {
  color: #6c6d6e;
  font-weight: lighter;
}

.searchEngine {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border-color: #dadde1;
  font-size: 15px;
  color: #6c6d6e;
  background-color: rgb(251, 251, 252);
}
.searchButton {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: rgb(47, 100, 246);
  color: white;
  font-size: 15px;
}
.searchButton:hover {
  background-color: rgb(30, 74, 194);
  transition: ease-in-out 150ms;
}
.currentDate {
  margin-top: 10px;
  color: rgb(33, 33, 33);
}
.date-attributes {
  list-style: none;
  padding: 0px;
  margin-bottom: 20px;
}
.description {
  margin: 0 auto;
  text-transform: capitalize;
  color: rgba(91, 91, 97, 0.93);
}
.conditions {
  list-style: none;
  color: rgba(91, 91, 97, 0.93);
}
.temperature {
  color: #6c6d6e;
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}
.icon {
  height: 64px;
  width: 64px;
  margin-bottom: 30px;
}
.units {
  position: relative;
  top: -28px;
}

.footer {
  text-align: center;
  font-family: arial, sans-serif;
}
.link {
  text-decoration: none;
  color: #6c6d6e;
}

ul {
  line-height: 23px;
}
.weather-forecast {
  color: black;
  text-align: center;
}
.weather-forecast-min {
  color: #6c6d6e;
}
